<launch>
    <rosparam file="$(find xarm_hardware_interface)/config/hardware.yaml" command="load"/>
    <rosparam file="$(find xarm_hardware_interface)/config/controllers.yaml" command="load"/>
    <rosparam file="$(find xarm_hardware_interface)/config/joint_limits.yaml" command="load"/>
    <node name="xarm_hardware_interface" pkg="xarm_hardware_interface" type="xarm_hardware_interface_node" output="screen"/>
    
    <node name="controller_spawner" pkg="controller_manager" type="spawner" respawn="false" output="screen" ns="/"
        args="
            /xarm/controller/state
            /xarm/controller/position/xarm_6_joint
            /xarm/controller/position/xarm_5_joint
            /xarm/controller/position/xarm_4_joint
            /xarm/controller/position/xarm_3_joint
            /xarm/controller/position/xarm_2_joint"/>
</launch>